#volsym {
    display:block;
    float:left;
    font-family: "Helvetica Neue";
    font-weight: 100;
    top:-3px;
    /*text-shadow: 0px 0px 5px rgba(255,255,255,0.6);*/
    color: rgba(255,255,255,0.8);
    font-size:2em;
    margin:0 15px 0 0;
    text-align:center;
    width:50px;
}
/* slider root element */
.slider {
    background:rgba(255,255,255,0.1);
    height:9px;
    position:relative;
    cursor:pointer;
    border:1px solid #333;
    width:800px;
    float:left;
    clear:right;
    margin-top:10px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    box-shadow:inset 0 0 8px rgba(0,0,0,0.5);
}

/* progress bar (enabled with progress: true) */
.progress {
    height:9px;
    background-color:#C5FF00;
    display:none;
    opacity:0.6;
}

/* drag handle */
.handle {
    background:rgba(255,255,255,0.8);
    height:50px;
    width:50px;
    top:-22px;
    position:absolute;
    display:block;
    margin-top:1px;
    cursor:move;
    /*box-shadow:0 0 13px rgba(255,255,255,0.3),
         inset 0 0 13px rgba(255,255,255,0.3),
         inset 0 0 1px  rgba(255,255,255,0.8);*/
    border: 1px rgba(255,255,255,0.8);
    -moz-border-radius:25px;
    -webkit-border-radius:25px;
}

/* the input field */
.range {
    background: none;
    float:left;
    font-family: "Helvetica Neue";
    font-weight: 100;
    position:relative;
    top:-3px;
    text-shadow: 0px 0px 5px rgba(255,255,255,0.6);
    color: rgba(255,255,255,0.1);
    font-size:2em;
    margin:0 0 0 15px;
    text-align:center;
    width:50px;
    border:none;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
}


